.card
  .card-header
    %h2
      = I18n.t('devise.registrations.name_on_button_submit')
      \&gt;
  .card-body
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field.form-group
        = f.label :email
        %br/
        = f.email_field :email, class: "form-control", placeholder: I18n.t('devise.registrations.name_on_placeholder_email'), autofocus: true, autocomplete: "email"
      .field.form-group
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} #{I18n.t('devise.registrations.after_min_password_character')}&gt;)
        %br/
        = f.password_field :password, class: "form-control", placeholder: I18n.t('devise.registrations.name_on_placeholder_password'), autocomplete: "new-password"
      .field.form-group
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, class: "form-control", placeholder: I18n.t('devise.registrations.name_on_placeholder_password'), autocomplete: "new-password"
      .actions
        = f.submit I18n.t('devise.registrations.name_on_button_submit'), class: "btn btn-secondary"
= render "devise/shared/links"
