.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :id => "categoryModal#{category_modal.id}", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title= I18n.t('category.index.destroy')
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
      .modal-body
        = I18n.t('category.delete.modal.confirmation')
      .modal-footer
        %button.btn.btn-secondary{"data-bs-dismiss" => "modal", :type => "button"}= I18n.t('category.index.close')
        = link_to t('category.index.destroy'), categories_path(category_modal.id), method: :delete, class: 'btn btn-outline-danger'
