<div class="modal fade" id="exampleModal<%= idx.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= I18n.t('expenses.index.destroy') %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= I18n.t('expenses.delete.modal.confirmation') %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= I18n.t('expenses.index.close') %></button>
        <%= link_to t('expenses.index.destroy'), expense_path(idx.id), method: :delete, class: 'btn btn-outline-danger' %>
      </div>
    </div>
  </div>
</div>