%h1= t('expenses.all')
.container
  %table.table
    %thead
      %tr
        %th{:scope => "col"}= I18n.t('expenses.index.ordinal_number')
        %th{:scope => "col"}= I18n.t('expenses.index.name')
        %th{:scope => "col"}= I18n.t('expenses.index.price')
        %th{:scope => "col"}= I18n.t('expenses.index.paid_on')
        %th
    %tbody
      - @expenses.each do |exp|
        %tr
          %th{:scope => "row"}= exp.id
          %td= exp.name
          %td= exp.price
          %td= exp.paid_on
          %td
            %button.btn.btn-outline-info{"data-bs-target" => "#editModal#{exp.id}", "data-bs-toggle" => "modal", :type => "button"}
              = t('expenses.index.edit')
            = link_to t('expenses.index.edit'), edit_expense_path(exp.id), class: "btn btn-outline-primary"
            %button.btn.btn-outline-danger{"data-bs-target" => "#exampleModal#{exp.id}", "data-bs-toggle" => "modal", :type => "button"}
              = t('expenses.index.destroy')
          = render partial: 'modal', locals: { expense_modal: exp }
          = render partial: 'edit_modal', locals: { edit_expense_modal: exp }
