<h1><%= t('expenses.all') %></h1>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><%= I18n.t('expenses.index.ordinal_number') %></th>
        <th scope="col"><%= I18n.t('expenses.index.name') %></th>
        <th scope="col"><%= I18n.t('expenses.index.price') %></th>
        <th scope="col"><%= I18n.t('expenses.index.paid_on') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @expenses.each do |exp| %>
      <tr>
        <th scope="row"><%= exp.id %></th>
        <td><%= exp.name %></td>
        <td><%= exp.price %></td>
        <td><%= exp.paid_on %></td>
        <td>
          <%= link_to t('expenses.index.edit'), edit_expense_path(exp.id), class: "btn btn-outline-primary"%>
          <%= link_to t('expenses.index.destroy'), expense_path(exp.id), method: :delete,
                        data: { confirm: I18n.t('expenses.delete.confirmation') }, class: "btn btn-outline-danger"%>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>