<h1><%= t('expenses.all') %></h1>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Paid On</th>
      </tr>
    </thead>
    <tbody>
    <% @expenses.each do |exp| %>
      <tr>
        <th scope="row"><%= exp.id %></th>
        <td><%= exp.name %></td>
        <td><%= exp.price %></td>
        <td><%= exp.paid_on %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
