<h1><%= t('expenses.new') %></h1>
<div>
<%= form_with(model: @expense, local: true) do |form| %>
  <%= render 'shared/error_messages', object: @expense %>

  <div class="field form-group">
    <%= form.label :name %><br>
    <%= form.text_field :name, class: "form-control", placeholder: I18n.t('expenses.create.placeholder_on_name') %>
  </div>

  <div class="field form-group">
    <%= form.label :price %><br>
    <%= form.text_field :price, class: "form-control", placeholder: I18n.t('expenses.create.placeholder_on_price') %>
  </div>

  <div class="field form-group">
    <%= form.label :paid_on %><br>
    <%= form.date_field :paid_on, value: Time.now.strftime('%Y-%m-%d'), class: "form-control", placeholder: I18n.t('expenses.create.placeholder_on_paid_on') %>
  </div>
  </br>
  <div class="actions">
    <%= form.submit I18n.t('expenses.create.name_button_submit'), class: "btn btn-secondary" %>
  </div>
<% end %>
</div>