<h1><%= t('expenses.new') %></h1>
<div>
<%= form_with(model: @expense, local: true) do |form| %>
  <%= render 'shared/error_messages', object: @expense %>

    <%= form.label :name %><br>
    <%= form.text_field :name %>

    <%= form.label :price %><br>
    <%= form.text_field :price %>

    <%= form.label :paid_on %><br>
    <%= form.date_field :paid_on %>

    <%= form.submit %>

<% end %>
</div>