<h1><%= t('expenses.new') %></h1>

<%= form_with model: @expense do |form| %>
  <div class="field form-group">
    <%= form.label :name %><br>
    <%= form.text_field :name, class: "form-control", placeholder: I18n.t('expenses.create.placeholder_on_name') %>
    <% @expense.errors.full_messages_for(:name).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div>

  <div class="field form-group">
    <%= form.label :price %><br>
    <%= form.text_field :price, class: "form-control", placeholder: I18n.t('expenses.create.placeholder_on_price') %>
    <% @expense.errors.full_messages_for(:price).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div>

  <div class="field form-group">
    <%= form.label :paid_on %><br>
    <%= form.date_field :paid_on, value: Time.now.strftime('%Y-%m-%d'), class: "form-control", placeholder: I18n.t('expenses.create.placeholder_on_paid_on') %>
    <% @expense.errors.full_messages_for(:paid_on).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div>
  </br>
  <div class="actions">
    <%= form.submit I18n.t('expenses.create.name_button_submit'), class: "btn btn-secondary" %>
  </div>

<% end %>