<h1><%= t('new_expense') %></h1>

<%= form_with model: @expense do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @expense.errors.full_messages_for(:name).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :price %><br>
    <%= form.text_field :price %>
    <% @expense.errors.full_messages_for(:price).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :date %><br>
    <%= form.date_field :date %>
    <% @expense.errors.full_messages_for(:date).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>