!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= t('budget_app')
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      .container
        = link_to t('budget_app'), root_path, id: "logo"
        .collapse.navbar-collapse.justify-content-end
          %ul.navbar-nav.justify-content-end
            - if current_user
              %li.nav-item
                Current User: #{current_user.email}
              %li.btn.btn-light= link_to t('sign.out'), destroy_user_session_path, method: :delete
            - else
              %li.nav-item
                = I18n.t('sign.up_now')
                \&gt;
              %li.btn.btn-light= link_to t('sign.up'), new_user_registration_path
              %li.btn.btn-light= link_to t('sign.in'), new_user_session_path
    .container
      - flash.each do |type, msg|
        %div{:class => "alert alert-#{type}"}= msg
    .container
      = yield
